    body {
	background-color: #DDEDEB;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 16px;	
        color: #ff944d;
        
    }     
    a:link, a:visited {
    color: #ffb1b9;          
                  
      }
    .section {
      padding: 1em 0;
    }
    .header {
      background: linear-gradient(to bottom, #302e39 0%, #5f5b71 100%); 
      color: #ff944d;
      padding: 1em 0 2em;
    }
    svg {
      display: block;
      margin: 0 auto;
    }
    .axis path, .axis line {
      fill: none;
      stroke: #ff944d;
      shape-rendering: crispEdges;
    }
    .axis text {
        font-size: 14px;
        fill: #ff944d;
    }
    .label {
      font-weight: 700;
    }
    .point {
      stroke: rgb(51, 122, 183);
      stroke-width: 1;
      fill: rgba(51, 122, 183, .5);
      opacity: .5;
    }
    .point.filtered {
      opacity: .05;
    }
   
/*body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 800px;
}*/

form {
  position: absolute;
  right: 5px;
  top: 5px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
       
  